body,
html,
div.board,


body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

#game_phaser {  
  margin-top: auto;  
  margin-left: auto;  
  margin-right: auto;
}

#test_me {  
  background-color: #fff;
  text-align: center;
}

#test_div {
  
}

#game canvas {  
  margin: 0px 0px;  
  /*background-color: grey;*/
  /*border: 2px solid rgb(255, 255, 255);*/
}

/*font-family: 'myFont', Arial;*/