body,
html,
div.board,


body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#game_phaser {  
  margin-top: auto;  
  margin-bottom: auto;  
  margin-left: auto;  
  margin-right: auto;
}

